<div class="grid">
	<div class="col-12">
		<div class="card">
			<!-- <h5>COMARAPA</h5> -->

            <!-- Aqui va el contenido de la pagina -->
            
            
            
            <div class="grid grid-nogutter surface-section text-800">
                <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
                    <section>
                        <span class="block text-6xl font-bold mb-1">MUNICIPIO DE COMARAPA</span>
                        <div class="text-6xl text-primary font-bold mb-3">DATOS GENERALES</div>
                        <p class="mt-0 mb-4 text-700 line-height-3">Comarapa es una localidad y municipio de Bolivia, 
                            capital de la provincia Manuel María Caballero, en el departamento de Santa Cruz. 
                            El municipio tiene una superficie de 3.271,03 km²,  y cuenta con una población de 15.919 habitantes 
                            (según el Censo INE 2012).  La localidad fue fundada el 11 de junio de 1615 con el nombre 
                            de Santa María de la Guardia y Mendoza por don Pedro Lucio Escalante y Mendoza.</p>
                    </section>
                </div>
                <div class="col-12 md:col-6 overflow-hidden">
                    <img src="/assets/demo/images/comarapa/logo.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
                </div>
            </div>
            <!-- Aqui va el contenido de la pagina -->
		</div>

	</div>

</div>
