<form (ngSubmit)="guardar()" [formGroup]="miFormulario">
    <div class="col-12">
        <div class="p-fluid">
            <div *ngIf="tipoAccion == 0 || tipoAccion == 1 || tipoAccion == 2">
                <div class="field grid">
                    <label htmlFor="nombre" class="col-12 mb-2 md:col-2 md:mb-0">Nombre:</label>
                    <div class="col-12 md:col-10">
                        <input pInputText 
                            id="nombre" 
                            type="text"
                            formControlName="nombre"
                            [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('nombre')}"/>
                        <small 
                            class="ng-dirty ng-invalid"
                            class="p-error"
                            *ngIf="campoEsValido('nombre')">
                            {{ campoErrorMsg('nombre') }}
                        </small>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="descripcion" class="col-12 mb-2 md:col-2 md:mb-0">Descripción:</label>
                    <div class="col-12 md:col-10">
                        <input pInputText 
                            id="descripcion" 
                            type="text" 
                            formControlName="descripcion"
                            [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('descripcion')}"/>
                        <small 
                            class="ng-dirty ng-invalid"
                            class="p-error"
                            *ngIf="campoEsValido('descripcion')">
                            {{ campoErrorMsg('descripcion') }}
                        </small>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="direccion" class="col-12 mb-2 md:col-2 md:mb-0">Dirección:</label>
                    <div class="col-12 md:col-10">
                        <input pInputText 
                            id="direccion" 
                            type="text"
                            formControlName="direccion"
                            [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('direccion')}"/>
                        <small 
                            class="ng-dirty ng-invalid"
                            class="p-error"
                            *ngIf="campoEsValido('direccion')">
                            {{ campoErrorMsg('direccion') }}
                        </small>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="fecha_inicio" class="col-12 mb-2 md:col-2 md:mb-0">Fecha de inicio:</label>
                    <div class="col-12 md:col-10">
                        <p-calendar 
                            id="fecha_inicio" 
                            [touchUI]="true" 
                            [readonlyInput]="true"
                            formControlName="fecha_inicio"
                            [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('fecha_inicio')}">
                        </p-calendar>
                        <small 
                            class="ng-dirty ng-invalid"
                            class="p-error"
                            *ngIf="campoEsValido('fecha_inicio')">
                            {{ campoErrorMsg('fecha_inicio') }}
                        </small>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="fecha_fin" class="col-12 mb-2 md:col-2 md:mb-0">Fecha de finalización:</label>
                    <div class="col-12 md:col-10">
                        <p-calendar 
                            id="fecha_fin" 
                            [touchUI]="true" 
                            [readonlyInput]="true"
                            formControlName="fecha_fin"
                            [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('fecha_fin')}">
                        </p-calendar>
                        <small 
                            class="ng-dirty ng-invalid"
                            class="p-error"
                            *ngIf="campoEsValido('fecha_fin')">
                            {{ campoErrorMsg('fecha_fin') }}
                        </small>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="comunidad" class="col-12 mb-2 md:col-2 md:mb-0">Comunidad a asignar:</label>
                    <div class="col-12 md:col-10">
                        <p-dropdown 
                            id="comunidad" 
                            [options]="comunidades" 
                            optionLabel="nombre" 
                            placeholder="Seleccionar comunidad" 
                            [showClear]="true"
                            formControlName="comunidad"
                            [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('comunidad')}">
                        </p-dropdown>
                        <small 
                            class="ng-dirty ng-invalid"
                            class="p-error"
                            *ngIf="campoEsValido('comunidad')">
                            {{ campoErrorMsg('comunidad') }}
                        </small>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="tipoActividad" class="col-12 mb-2 md:col-2 md:mb-0">Tipo actividad:</label>
                    <div class="col-12 md:col-10">
                        <p-dropdown 
                            id="tipoActividad" 
                            [options]="tipoActividades" 
                            optionLabel="nombre" 
                            placeholder="Seleccionar tipo actividad" 
                            [showClear]="true"
                            formControlName="tipoActividad"
                            [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('tipoActividad')}">
                        </p-dropdown>
                        <small 
                            class="ng-dirty ng-invalid"
                            class="p-error"
                            *ngIf="campoEsValido('tipoActividad')">
                            {{ campoErrorMsg('tipoActividad') }}
                        </small>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="imagenes" class="col-12 mb-2 md:col-2 md:mb-0">Imagenes:</label>
                    <div class="col-12 md:col-10">
                        <input pInputText 
                            id="imagenes" 
                            type="file">
                    </div>
                </div>
            </div>
            <div *ngIf="tipoAccion == 3 || tipoAccion == 4">
                <div class="field grid">
                    <label 
                        htmlFor="name3" 
                        style="font-weight: bold;" 
                        class="col-12 mb-2 md:col-4 md:mb-0">
                        Nombre:
                    </label>
                    <div class="col-12 md:col-8">
                        <span>{{ actividad.nombre}}</span>
                    </div>
                </div>
                <div class="field grid">
                    <label 
                        htmlFor="name3" 
                        style="font-weight: bold;" 
                        class="col-12 mb-2 md:col-4 md:mb-0">
                        Estado:
                    </label>
                    <div class="col-12 md:col-8">
                        <span *ngIf="actividad.estado==1">Activo</span>
                        <span *ngIf="actividad.estado==0">Eliminado</span>
                    </div>
                </div>
            </div>
            <div class="field grid">
                <div class="col-12 md:col-6"></div>
                <div class="col-12 md:col-3">
                    <p-button 
                        type="submit"
                        label="{{ titleButton }}" 
                        styleClass="p-button-text"
                    ></p-button>
                </div>
                <div class="col-12 md:col-3">
                    <p-button 
                        (click)="cerrarModal()" 
                        label="Cerrar" 
                        styleClass="p-button-text">
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</form>