<div class="grid">
	<div class="col-12">
		<div class="card">
            <div style="text-align: center;">
                <h2 style="font-style: italic;">.:Administrar comunidades:.</h2>
            </div>
			<p-table [value]="comunidades" #dt1  dataKey="id" [rows]="10"  [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"  >
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">     
						<span class="p-input-icon-left mb-2" style="text-align:left;">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter  placeholder="Buscar..." class="w-full"/>
						</span>
                        <span style="text-align: right;">
                            <button pButton pRipple type="button" (click)="verAgregarComunidad()" label="Agregar" class="p-button-secondary" style="text-align: right;"></button>
                        </span>
					</div>
                    <div class="flex justify-content-between flex-column sm:flex-row">     
						<div class="col-12 md:col-4">
                            <div class="field-radiobutton">
                                <p-radioButton name="city" value="Chicago"  id="city1"></p-radioButton>
                                <label for="city1">Activos.</label>
                            </div>
                        
                            <div class="field-radiobutton">
                                <p-radioButton name="city" value="Los Angeles" 
                                               id="city2"></p-radioButton>
                                <label for="city2">Eliminados.</label>
                            </div>
                        </div>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
                        <th style="min-width: 3rem">
							<div class="flex justify-content-between align-items-center">
								<span>Nº</span>
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Nombre
							</div>
						</th>
                        <th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Ver
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Editar
							</div>
						</th>
						<th style="min-width: 14rem">
							<div class="flex justify-content-between align-items-center"></div>
								Eliminar
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Habilitar
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-comunidad>
					<tr>
						<td>
                            {{comunidad.id_comunidad+1}}
						</td>
						<td>
                            {{comunidad.nombre}}
						</td>
                        <td style="text-align: center;">
                            <button pButton pRipple type="button"  (click)="verComunidad(comunidad.id_comunidad)" icon="pi pi-user" class="p-button-rounded p-button-info p-button-outlined" ></button>
						</td>
						<td style="text-align: center;">
                            <button pButton pRipple type="button"  icon="pi pi-bookmark" class="p-button-rounded p-button-secondary p-button-outlined" ></button>
						</td>
						<td style="text-align: center;">
                            <button  pButton pRipple type="button"  (click)="verEliminarComunidad(comunidad.id_comunidad)" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" ></button>
							
						</td>
                        <td style="text-align: center;">
                            <button pButton pRipple type="button"  (click)="verHabilitarComunidad(comunidad.id_comunidad)" icon="pi pi-check" class="p-button-rounded p-button-outlined" ></button>
                        </td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No hay roles para mostrar.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Loading customers data. Please wait.</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>

	</div>
</div>  
<!-- Agregar comunidad -->
<p-dialog header="Header" [(visible)]="visible_agregar" [style]="{ width: '30vw' }">
    <ng-template pTemplate="header">
		<span class="text-xl font-bold" >Agregar comunidad</span>
    </ng-template>
		<div class="col-12 md:col-6">
			<div class="field grid">
				<label htmlFor="name3" class="col-12 mb-2 md:col-6 md:mb-0 font-bold">Nombre:</label>
				<div class="col-12 md:col-6">
					<input pInputText id="name3" type="text" [(ngModel)]="comunidad.nombre" required/>
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="name3" class="col-12 mb-2 md:col-6 md:mb-0 font-bold">Descripción:</label>
				<div class="col-12 md:col-6">
					<textarea rows="5" cols="22" [(ngModel)]="comunidad.descripcion" pInputTextarea></textarea>
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="name3" class="col-12 mb-2 md:col-6 md:mb-0 font-bold">Superficie en m2:</label>
				<div class="col-12 md:col-6">
					<input pInputText id="name3" type="number" [(ngModel)]="comunidad.superficie"/>
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="name3" class="col-12 mb-2 md:col-6 md:mb-0 font-bold">Población:</label>
				<div class="col-12 md:col-6">
					<input pInputText id="name3" type="number" [(ngModel)]="comunidad.poblacion"/>
				</div>
			</div>
		</div>
    <ng-template pTemplate="footer">
		<p-button  (click)="guardar()" label="Agregar" styleClass="p-button-text"></p-button>
        <p-button  (click)="cerraragregarComunidad()" label="Cerrar" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- ver una comunidad -->
<p-dialog header="Header" [(visible)]="visible" [style]="{ width: '30vw' }">
    <ng-template pTemplate="header">
		<span class="text-xl font-bold" >Ver comunidad</span>
    </ng-template>
    <div *ngIf="ver_comunidad">
		<div class="field grid">
			<label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Nombre:</label>
			<div class="col-12 md:col-8">
				<span>{{ver_comunidad.nombre}}</span>
			</div>
		</div>
		<div class="field grid">
			<label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Descripción:</label>
			<div class="col-12 md:col-8">
				<span>{{ver_comunidad.descripcion}}</span>
			</div>
		</div>
		<div class="field grid">
			<label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Superficie:</label>
			<div class="col-12 md:col-8">
				<span>{{ver_comunidad.superficie}}</span>
			</div>
		</div>
		<div class="field grid">
			<label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Poblacion:</label>
			<div class="col-12 md:col-8">
				<span>{{ver_comunidad.poblacion}}</span>
			</div>
		</div>
		<div class="field grid">
			<label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Estado:</label>
			<div class="col-12 md:col-8">
				<span *ngIf="ver_comunidad.estado==1">Activo</span>
				<span *ngIf="ver_comunidad.estado==0">Eliminado</span>
			</div>
		</div>
    </div>
    <ng-template pTemplate="footer">
        <p-button  (click)="cerrarVerComunidad()" label="Cerrar" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- modal eliminar comunidad -->
<p-dialog header="Header" [(visible)]="visible_eliminar" [style]="{ width: '30vw' }">
    <ng-template pTemplate="header">
		<span class="text-xl font-bold" >Eliminar comunidad</span>
    </ng-template>
    <div *ngIf="ver_comunidad">
		<div class="field grid">
			<label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Nombre:</label>
			<div class="col-12 md:col-8">
				<span>{{ ver_comunidad.nombre}}</span>
			</div>
		</div>
		<div class="field grid">
			<label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Estado:</label>
			<div class="col-12 md:col-8">
				<span *ngIf="ver_comunidad.estado==1">Activo</span>
				<span *ngIf="ver_comunidad.estado==0">Eliminado</span>
			</div>
		</div>
    </div>
    <ng-template pTemplate="footer">
		<p-button   (click)="eliminarComunidad(ver_comunidad.id_comunidad)" label="Eliminar" styleClass="p-button-text"></p-button>
        <p-button  (click)="cerrarElimiarComunidad()" label="Cerrar" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!-- Habilitar comunidad -->
<p-dialog header="Header" [(visible)]="visible_habilitar" [style]="{ width: '30vw' }">
    <ng-template pTemplate="header">
		<span class="text-xl font-bold" >Habilitar comunidad</span>
    </ng-template>
    <div *ngIf="ver_comunidad">
		<div class="field grid">
			<label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Nombre:</label>
			<div class="col-12 md:col-8">
				<span>{{ ver_comunidad.nombre}}</span>
			</div>
		</div>
		<div class="field grid">
			<label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Estado:</label>
			<div class="col-12 md:col-8">
				<span *ngIf="ver_comunidad.estado==1">Activo</span>
				<span *ngIf="ver_comunidad.estado==0">Eliminado</span>
			</div>
		</div>	
    </div>
    <ng-template pTemplate="footer">
		<p-button   (click)="habilitarComunidad(ver_comunidad.id_comunidad)" label="Habilitar" styleClass="p-button-text"></p-button>
        <p-button  (click)="cerrarHabilitarComunidad()" label="Cerrar" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

    
   


