<!-- <router-outlet></router-outlet> -->
<app-listar-actividades></app-listar-actividades>
<!-- <app-listar-atractivos></app-listar-atractivos> -->
<!-- <app-listar-restaurantes></app-listar-restaurantes> -->
<!-- <app-listar-hoteles></app-listar-hoteles> -->
<!-- <app-listar-comunidades></app-listar-comunidades> -->
<!-- <app-listar-usuarios></app-listar-usuarios> -->
<!-- <app-listar-menus></app-listar-menus> -->
<!-- <app-listar-roles></app-listar-roles> -->
<!-- <app-login></app-login> -->
<!-- <app-header></app-header>
<app-sidebar></app-sidebar>
<app-footer></app-footer>  -->