<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>ADMINISTRAR USUARIOS</h5>

            <!-- Aqui va el contenido de la pagina -->
            <p-table [value]="usuarios" #dt1  dataKey="id" [rows]="10"  [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"  >
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">     
						<span class="p-input-icon-left mb-2" style="text-align:left;">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter  placeholder="Buscar..." class="w-full"/>
						</span>
                        <span style="text-align: right;">
                            <button pButton pRipple type="button" (click)="verAgregarUsuario()" label="Agregar" class="p-button-secondary" style="text-align: right;" ></button>
                            <button pButton pRipple type="button" (click)="modalUsuario(null,1,'Agregar Usuario','Guardar')" label="prueba" class="p-button-secondary" style="text-align: right;" ></button>
                        </span>
					</div>
                    <!-- <div class="grid formgrid">
                        <div class="col-12 md:col-2">
                            <div class="field-radiobutton">
                                <p-radioButton name="city" value="Chicago" ></p-radioButton>
                                <label for="city1">Todos.</label>
                            </div>
                        </div>
                        <div class="col-12 md:col-2">
                            <div class="field-radiobutton">
                                <p-radioButton name="city" value="Los Angeles" 
></p-radioButton>
                                <label for="city2">Activos.</label>
                            </div>
                        </div>
                        <div class="col-12 md:col-2">
                            <div class="field-radiobutton">
                                <p-radioButton name="city" value="New York"></p-radioButton>
                                <label for="city3">Eliminados.</label>
                            </div>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="field-radiobutton">
                               
                            </div>
                        </div>
                    </div> -->
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
                        <th style="min-width: 3rem">
							<div class="flex justify-content-between align-items-center">
								<span>Nº</span>
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Nombre
							</div>
						</th>
                        <th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Ver
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Editar
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center"></div>
								Eliminar
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								Habilitar
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-usuario>
					<tr>
						<td>
                            {{usuario.id_usuario+1}}
						</td>
						<td>
                            {{usuario.nombre}} {{usuario.ap}} {{usuario.am}}
						</td>
						<td style="text-align: center;">
                            <button pButton pRipple type="button"  (click)="modalUsuario(usuario,2,'Editar Usuario','Editar')" icon="pi pi-user" class="p-button-rounded p-button-info p-button-outlined" ></button>
                            <button pButton pRipple type="button"  (click)="verUsuario(usuario.id_usuario)" icon="pi pi-user" class="p-button-rounded p-button-info p-button-outlined" ></button>
						</td>
						<td style="text-align: center;">
                            <button pButton pRipple type="button"   icon="pi pi-bookmark" class="p-button-rounded p-button-secondary p-button-outlined" ></button>
						</td>
						<td style="text-align: center;">
                            <button  pButton pRipple type="button"  (click)="verEliminarUsuario(usuario.id_usuario)" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" ></button>
							
						</td>
                        <td style="text-align: center;">
                            <button pButton pRipple type="button"  (click)="verHabilitarUsuario(usuario.id_usuario)" icon="pi pi-check" class="p-button-rounded p-button-outlined" ></button>
                        </td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No hay usuarios para mostrar.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Cargando datos de los usuarios. Espere por favor.</td>
					</tr>
				</ng-template>
    		</p-table>

            <p-dialog header="Header" [(visible)]="modalUsuarioVisible" [modal]="true" [style]="{ width: '50vw' }">
            
                <ng-template pTemplate="header">
                    <span class="text-xl font-bold" >{{ modalTitle }}</span>
                </ng-template>

                <app-modal-usuario *ngIf="modalUsuarioVisible"
                    [titleButton]="titleButton" 
                    [usuario]="dataUsuario" 
                    [tipoAccion]="tipoAccion"
                    (onCloseModal)="cerrarModal($event)"
                ></app-modal-usuario>
            
                <!-- <ng-template pTemplate="footer">
                    <p-button (click)="guardar()" label="Agregar" styleClass="p-button-text"></p-button>
                    <p-button (click)="cerrarModal()" label="Cerrar" styleClass="p-button-text"></p-button>
                </ng-template> -->
            </p-dialog>

            
            <!-- modal agrega un usuario -->
            <p-dialog header="Header" [(visible)]="visible_agregar" [modal]="true" [style]="{ width: '50vw' }">
                <ng-template pTemplate="header">
                    <span class="text-xl font-bold" >Agregar Usuario</span>
                </ng-template>

                    <div class="col-12">
                        <div class="p-fluid">
                            <div class="field grid">
                                <label htmlFor="nombre" class="col-12 mb-2 md:col-2 md:mb-0">Nombre:</label>
                                <div class="col-12 md:col-10">
                                    <input pInputText id="nombre" type="text" />
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="ap" class="col-12 mb-2 md:col-2 md:mb-0">Apellido paterno:</label>
                                <div class="col-12 md:col-10">
                                    <input pInputText id="ap" type="text" />
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="am" class="col-12 mb-2 md:col-2 md:mb-0">Apellido materno:</label>
                                <div class="col-12 md:col-10">
                                    <input pInputText id="am" type="text" />
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="ci" class="col-12 mb-2 md:col-2 md:mb-0">Nº de celula de identidad:</label>
                                <div class="col-12 md:col-10">
                                    <input pInputText id="ci" type="text" />
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="fecha_nac" class="col-12 mb-2 md:col-2 md:mb-0">Fecha de nacimiento:</label>
                                <div class="col-12 md:col-10">
                                    <p-calendar id="fecha_nac" [touchUI]="true" [readonlyInput]="true"></p-calendar>
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="usuario" class="col-12 mb-2 md:col-2 md:mb-0">Usuario:</label>
                                <div class="col-12 md:col-10">
                                    <input pInputText id="usuario" type="text" />
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="contrasena" class="col-12 mb-2 md:col-2 md:mb-0">Contraseña:</label>
                                <div class="col-12 md:col-10">
                                    <input pInputText id="contrasena" type="text" />
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="id_rol" class="col-12 mb-2 md:col-2 md:mb-0">Rol a asignar:</label>
                                <div class="col-12 md:col-10">
                                    <p-dropdown id="id_rol" [options]="roles" optionLabel="nombre"  placeholder="Seleccionar rol" [showClear]="true"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>


                <ng-template pTemplate="footer">
                    <p-button  (click)="guardar()" label="Agregar" styleClass="p-button-text"></p-button>
                    <p-button  (click)="cerraragregarUsuario()" label="Cerrar" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-dialog>
            <!-- ver un usuario -->
            <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '30vw' }">
                <ng-template pTemplate="header">
                    <span class="text-xl font-bold" >Ver usuario</span>
                </ng-template>
                <div *ngIf="ver_usuario">
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Nombre:</label>
                        <div class="col-12 md:col-8">
                            <span>{{ver_usuario.nombre}}</span>
                        </div>
                    </div>
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Apellido paterno:</label>
                        <div class="col-12 md:col-8">
                            <span>{{ver_usuario.ap}}</span>
                        </div>
                    </div>
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Apellido materno:</label>
                        <div class="col-12 md:col-8">
                            <span>{{ver_usuario.am}}</span>
                        </div>
                    </div>
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Nº celula de identidad:</label>
                        <div class="col-12 md:col-8">
                            <span>{{ver_usuario.ci}}</span>
                        </div>
                    </div>
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Fecha de nacimiento:</label>
                        <div class="col-12 md:col-8">
                            <span>{{ver_usuario.fecha_nac}}</span>
                        </div>
                    </div>
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Usuario:</label>
                        <div class="col-12 md:col-8">
                            <span>{{ver_usuario.usuario}}</span>
                        </div>
                    </div>
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Contraseña:</label>
                        <div class="col-12 md:col-8">
                            <span>{{ver_usuario.contrasena}}</span>
                        </div>
                    </div>
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Rol:</label>
                        <div class="col-12 md:col-8">
                            <span>{{ver_usuario.id_rol}}</span>
                        </div>
                    </div>
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Estado:</label>
                        <div class="col-12 md:col-8">
                            <span *ngIf="ver_usuario.estado==1">Activo</span>
                            <span *ngIf="ver_usuario.estado==0">Eliminado</span>
                        </div>
                    </div>
                </div>
                <ng-template pTemplate="footer">
                    <p-button  (click)="cerrarVerUsuario()" label="Cerrar" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-dialog>
            <!-- modal eliminar usuario -->
            <p-dialog header="Header" [(visible)]="visible_eliminar" [modal]="true" [style]="{ width: '30vw' }">
                <ng-template pTemplate="header">
                    <span class="text-xl font-bold" >Eliminar usuario</span>
                </ng-template>
                <div *ngIf="ver_usuario">
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Nombre:</label>
                        <div class="col-12 md:col-8">
                            <span>{{ ver_usuario.nombre}} {{ ver_usuario.ap}} {{ ver_usuario.am}}</span>
                        </div>
                    </div>
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Estado:</label>
                        <div class="col-12 md:col-8">
                            <span *ngIf="ver_usuario.estado==1">Activo</span>
                            <span *ngIf="ver_usuario.estado==0">Eliminado</span>
                        </div>
                    </div>
                </div>
                <ng-template pTemplate="footer">
                    <p-button   (click)="eliminarUsuario(ver_usuario.id_usuario)" label="Eliminar" styleClass="p-button-text"></p-button>
                    <p-button  (click)="cerrarElimiarUsuario()" label="Cerrar" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-dialog>
            <!-- Habilitar usuario -->
            <p-dialog header="Header" [(visible)]="visible_habilitar" [modal]="true" [style]="{ width: '30vw' }">
                <ng-template pTemplate="header">
                    <span class="text-xl font-bold" >Habilitar menu</span>
                </ng-template>
                <div *ngIf="ver_usuario">
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Nombre:</label>
                        <div class="col-12 md:col-8">
                            <span>{{ ver_usuario.nombre}} {{ ver_usuario.ap}} {{ ver_usuario.am}}</span>
                        </div>
                    </div>
                    <div class="field grid">
                        <label htmlFor="name3" style="font-weight: bold;" class="col-12 mb-2 md:col-4 md:mb-0">Estado:</label>
                        <div class="col-12 md:col-8">
                            <span *ngIf="ver_usuario.estado==1">Activo</span>
                            <span *ngIf="ver_usuario.estado==0">Eliminado</span>
                        </div>
                    </div>	
                </div>
                <ng-template pTemplate="footer">
                    <p-button   (click)="habilitarUsuario(ver_usuario.id_usuario)" label="Habilitar" styleClass="p-button-text"></p-button>
                    <p-button  (click)="cerrarHabilitarUsuario()" label="Cerrar" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-dialog>
            

            <!-- Aqui va el contenido de la pagina -->
			
		</div>

	</div>

</div>