<label>Ubicación en el mapa</label>
<div id="map" style="height: 500px; width: 100%;">
  <google-map 
    height="400px" 
    width="500px" 
    [center]="center" 
    [zoom]="zoom" 
    (mapClick)="addMarker($event)">

    <!-- <map-marker *ngFor="let marker of markers" [position]="marker.position"></map-marker> -->
    <map-marker *ngIf="mapMarker" [position]="marker.position"></map-marker>

  </google-map>
  
  <!-- <map-marker *ngFor="let marker of markers" [position]="marker.position"></map-marker> -->
</div>