<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>EDITAR RESTAURANTE</h5>
			<!-- Aqui va el contenido de la pagina -->
            <app-loading [loading]="loading"></app-loading>
            <div *ngIf="!loading">
            <form (ngSubmit)="guardar()" [formGroup]="miFormulario">
                <div class="col-12">
                    <div class="p-fluid">
                        <div>
                            <div class="field grid">
                                <label htmlFor="nombre" class="col-12 mb-2 md:col-2 md:mb-0">Nombre:</label>
                                <div class="col-12 md:col-10">
                                    <input pInputText 
                                        id="nombre" 
                                        type="text"
                                        formControlName="nombre"
                                        [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('nombre')}"/>
                                    <small 
                                        class="ng-dirty ng-invalid"
                                        class="p-error"
                                        *ngIf="campoEsValido('nombre')">
                                        {{ campoErrorMsg('nombre') }}
                                    </small>
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="descripcion" class="col-12 mb-2 md:col-2 md:mb-0">Descripción:</label>
                                <div class="col-12 md:col-10">
                                    <input pInputText 
                                        id="descripcion" 
                                        type="text" 
                                        formControlName="descripcion"
                                        [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('descripcion')}"/>
                                    <small 
                                        class="ng-dirty ng-invalid"
                                        class="p-error"
                                        *ngIf="campoEsValido('descripcion')">
                                        {{ campoErrorMsg('descripcion') }}
                                    </small>
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="direccion" class="col-12 mb-2 md:col-2 md:mb-0">Dirección:</label>
                                <div class="col-12 md:col-10">
                                    <input pInputText 
                                        id="direccion" 
                                        type="text"
                                        formControlName="direccion"
                                        [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('direccion')}"/>
                                    <small 
                                        class="ng-dirty ng-invalid"
                                        class="p-error"
                                        *ngIf="campoEsValido('direccion')">
                                        {{ campoErrorMsg('direccion') }}
                                    </small>
                                </div>
                            </div>
                            <div class="field grid">
                                <label 
                                    htmlFor="categoria" 
                                    class="col-12 mb-2 md:col-2 md:mb-0">
                                    Categoria:
                                </label>
                                <div class="col-12 md:col-10">
                                    <div class="field-radiobutton">
                                        <p-radioButton 
                                            id="categoria" 
                                            formControlName="categoria"
                                            [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('categoria')}"
                                            value="mixto">
                                        </p-radioButton>
                                        <label for="0">Mixto.</label>
                                        </div>
                                        <div class="field-radiobutton">
                                            <p-radioButton 
                                                id="categoria" 
                                                formControlName="categoria"
                                                [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('categoria')}"
                                                value="tradicional">
                                            </p-radioButton>
                                            <label for="0">Tradicional.</label>
                                        </div>
                                    <small 
                                        class="ng-dirty ng-invalid"
                                        class="p-error"
                                        *ngIf="campoEsValido('categoria')">
                                        {{ campoErrorMsg('categoria') }}
                                    </small>
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="telefono" class="col-12 mb-2 md:col-2 md:mb-0">Telefono:</label>
                                <div class="col-12 md:col-10">
                                    <input pInputText 
                                        id="telefono" 
                                        type="number" 
                                        formControlName="telefono"
                                        [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('telefono')}"/>
                                    <small 
                                        class="ng-dirty ng-invalid"
                                        class="p-error"
                                        *ngIf="campoEsValido('telefono')">
                                        {{ campoErrorMsg('telefono') }}
                                    </small>
                                </div>
                            </div>
                            <div class="field grid">
                                <label htmlFor="categoria" class="col-12 mb-2 md:col-2 md:mb-0">Delivery:</label>
                                <div class="col-12 md:col-10">
                                    <div class="field-radiobutton">
                                        <p-radioButton 
                                            id="delivery" 
                                            formControlName="delivery"
                                            [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('delivery')}"
                                            value="mixto">
                                        </p-radioButton>
                                        <label for="0">Si.</label>
                                        </div>
                                        <div class="field-radiobutton">
                                            <p-radioButton 
                                                id="delivery" 
                                                formControlName="delivery"
                                                [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('delivery')}"
                                                value="tradicional">
                                            </p-radioButton>
                                            <label for="0">No.</label>
                                        </div>
                                    <small 
                                        class="ng-dirty ng-invalid"
                                        class="p-error"
                                        *ngIf="campoEsValido('delivery')">
                                        {{ campoErrorMsg('delivery') }}
                                    </small>
                                </div>
                            </div>
                            <div class="field grid">
                                <label 
                                    htmlFor="comunidad" 
                                    class="col-12 mb-2 md:col-2 md:mb-0">
                                    Comunidad a asignar:
                                </label>
                                <div class="col-12 md:col-10">
                                    <p-dropdown 
                                        id="comunidad" 
                                        [options]="comunidades" 
                                        optionLabel="nombre" 
                                        placeholder="Seleccionar comunidad" 
                                        [showClear]="true"
                                        formControlName="comunidad"
                                        [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('comunidad')}">
                                    </p-dropdown>
                                    <small 
                                        class="ng-dirty ng-invalid"
                                        class="p-error"
                                        *ngIf="campoEsValido('comunidad')">
                                        {{ campoErrorMsg('comunidad') }}
                                    </small>
                                </div>
                            </div>
                            <div class="field grid">
                                <label 
                                    htmlFor="ubicacion" 
                                    class="col-12 mb-2 md:col-2 md:mb-0"
                                    >Ubicación en mapa:
                                </label>
                                <div class="col-12 md:col-10">
                                    <p>{{ datosCoordenada }}</p>
                                    <input 
                                        id="ubicacion"
                                        type="text" 
                                        pInputText
                                        formControlName="ubicacion"
                                        [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('ubicacion')}" 
                                    />
                                    <small 
                                        class="ng-dirty ng-invalid" 
                                        class="p-error"
                                        *ngIf="campoEsValido('ubicacion')">
                                        {{ campoErrorMsg('ubicacion') }}
                                    </small>
                                </div>
                                
                            </div>
                            <div class="field grid">
                                <label 
                                    htmlFor="mapa" 
                                    class="col-12 mb-2 md:col-2 md:mb-0">
                                </label>
                                <div class="col-12 md:col-10">
                                    <app-map
                                        (onReturnData)="coordenadasMapa($event)"
                                        [coordenadas]="coordenadas"
                                    ></app-map>
                                </div>   
                            </div>
                            <div class="field grid ">
                                <label 
                                    htmlFor="multimedia" 
                                    class="col-12 mb-2 md:col-2 md:mb-0">
                                    multimedias:
                                </label>
                                <div class="col-12 md:col-10">
                                    <div class="card">
                                        <p-fileUpload 
                                            name="demo[]" 
                                            chooseLabel="Seleccionar archivos"
                                            cancelLabel="Borrar todos los eleccionados"
                                            (onUpload)="onUpload($event)"
                                            url="./upload.php" 
                                            [multiple]="true" 
                                            accept="image/*" 
                                            [maxFileSize]="1000000"
                                            [showUploadButton]="false" 
                                            (onSelect)="onSelectFiles($event)"
                                            >
                                            <ng-template pTemplate="content">
                                                <ul *ngIf="uploadedFiles.length">
                                                    <li *ngFor="let file of uploadedFiles">
                                                        {{file.name}} - {{file.size}}
                                                        bytes
                                                    </li>
                                                </ul>

                                                <div *ngIf="restaurante.multimedias.length">

                                                    <div *ngFor="let m of restaurante.multimedias">
                                                        <div *ngIf="m.eliminar === false" class="p-fileupload-row ng-star-inserted">
                                                            <div class="ng-star-inserted">
                                                                <p-image [src]="urlPublic + m.ruta" width="50"/>
                                                            </div>
                                                            <div class="p-fileupload-filename">{{ m.ruta }}</div>
                                                            <div>---</div>
                                                            <div>
                                                                <p-button 
                                                                    (click)="elimarImage(m)" 
                                                                    label=""
                                                                    icon="pi pi-times" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </ng-template>
                                        </p-fileUpload>
                                    </div>

                                    <input 
                                        id="multimedia"
                                        type="text" 
                                        pInputText 
                                        formControlName="multimedia"
                                        [ngClass]="{'ng-invalid ng-dirty' : campoEsValido('multimedia')}" 
                                    />
                                    <small 
                                        class="ng-dirty ng-invalid" 
                                        class="p-error"
                                        *ngIf="campoEsValido('multimedia')">
                                        {{ campoErrorMsg('multimedia') }}
                                    </small>

                                </div>
                            </div>
                        </div>
                        <div class="field grid">
                            <div class="col-12 md:col-6"></div>
                            <div class="col-12 md:col-3">
                                <p-button 
                                    type="submit"
                                    label="Editar" 
                                    styleClass="p-button-text"
                                ></p-button>
                            </div>
                            <div class="col-12 md:col-3">
                                <p-button 
                                    (click)="volver()" 
                                    label="Volver" 
                                    styleClass="p-button-text">
                                </p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <!-- Aqui va el contenido de la pagina -->
		</div>

	</div>

</div>
